
@{
    ViewBag.Title = "NewRental";
}

<h2>New Rental Form</h2>
<br /><br />
<form id="newRental">
    <div class="form-group">
        <label>Customer Name</label>
        <div class="tt-container">
            <input id="customer" name="customer" required data-rule-validCustomer="true" type="text" value="" class="form-control" style="width:400px;"/>
        </div>
    </div>
    <div class="form-group">
        <label>Movie Name</label>
        <div class="tt-container">
            <input id="movies" name="movies" data-rule-atleastOneMovie="true" type="text" value="" class="form-control" style="width:400px;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="moviesList" class="list-group"></ul>
        </div>
    </div>
    

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>

        $(document).ready(function () {

            VM = {
                movieIds: []
            };
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('CustomerName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead(
                {
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'customers',
                    display: 'CustomerName',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    VM.CustomerId = customer.CustomerId;
                });


            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('MovieName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movies').typeahead(
                {
                    minLenght: 3,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'MovieName',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#moviesList").append("<li class='list-group-item'>" + movie.MovieName + "</li>");
                    $("#movies").typeahead("val", "");
                    VM.movieIds.push(movie.MovieId);
                });

            $.validator.addMethod("validCustomer", function () {
                return VM.CustomerId && VM.CustomerId !==0
            }, "Please select a valid customer");

            $.validator.addMethod("atleastOneMovie", function () {
                return VM.movieIds.length > 0;
            }, "Please select atleast one movie.");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    //e.preventDefault();

                    $.ajax({
                        url: "/api/NewRentals",
                        method: "POST",
                        data: VM
                    }).done(function () {
                        toastr.success("New Rentals successfully recorded.", "MovieRental :: New Movie Rental");
                        $("#customer").typeahead("val", "");
                        $("#movies").typeahead("val", "");
                        $("#moviesList").empty();
                        VM = { movieIds: [] }
                        validator.resetForm();
                    }).fail(function () {
                        toastr.error("There is some unexpected error occured, Please try again after some time.", "MovieRental :: New Movie Rental");
                        });
                    return false;
                }  
            });

            //$("#newRental").submit(function (e) {
            //    e.preventDefault();

            //    $.ajax({
            //        url: "/api/NewRentals",
            //        method: "POST",
            //        data: VM
            //    }).done(function () {
            //        toastr.success("New Rentals successfully recorded.", "MovieRental :: New Movie Rental");
            //        }).fail(function () {
            //            toastr.error("There is some unexpected error occured, Please try again after some time.", "MovieRental :: New Movie Rental");
            //    });
            //});

        });

    </script>
}

