@model MovieRentalPortal.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
@if (Model.MovieList.Count == 0)
{
    <p>We don't have any movie yet. </p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">MovieName</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.MovieList)
        {
            <tr class="table-light">

                <td>@Html.ActionLink(movie.MovieName, "Details", "Movies", new { movie.MovieId}, null)</td>
                <td>@movie.Genre.GenreName</td>

            </tr>
    }
        </tbody>
    </table>
}

